@use "@/styles/colors";
@use "@/styles/mixins";

.rating {
    background-color: colors.$lightGrayishMagenta;
    text-align: center;
    font-weight: 700;
    width: 100%;
    padding: .8em;
    border-radius: 5px;

    &__stars {
        @include mixins.centerFlex();
        gap: .4em;
        width: 100%;
        height: auto;
        margin-bottom: .7em;
    }

    &__text {
        @include mixins.fontStyle(colors.$veryDarkMagenta, 700, null, 1, 0.005em);
    }
}