@use "@/styles/colors";
@use "@/styles/mixins";

.header-section {
    text-align: center;
    color: colors.$veryDarkMagenta;

    &__title {
        @include mixins.fontSize(clamp(2.5rem, 2.148rem + 1.502vw, 3.5rem), 0.8);
        margin-bottom: 1.3rem;
    }

    &__description {
        @include mixins.fontSize(clamp(1rem, 0.894rem + 0.451vw, 1.3rem), 1.3);
        font-weight: 400;
    }
}

@media (min-width: 1024px) {
    .header-section {
        text-align: start;

        &__title {
            width: 75%;
            min-width: 20rem;
        }

        &__description {
            width: 80%;
            min-width: 25rem;
        }
    }
}