@mixin center-grid {
    display: grid;
    place-items: center;
}

@mixin centerFlex($justify-center: true) {
    display: flex;
    align-items: center;
    @if $justify-center {
      justify-content: center;
    }
}

@mixin fontStyle($color, $weight, $fontSize, $lineHeight, $letterSpacing) {
    color: $color;
    font-weight: $weight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin fontSize($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;
}

@mixin background-image($url1, $url2, $position1, $position2, $size1, $size2) {
    @if $url2 {
        background: {
            image: url($url1), url($url2);
            position: $position1, $position2;
            repeat: no-repeat, no-repeat;
            size: $size1, $size2;
        }
    }
}
