@use "@/styles/colors";
@use "@/styles/mixins";

.review-card {
    width: 100%;
    padding: 2em;
    border-radius: 5px;
    background-color: colors.$veryDarkMagenta;

    &__header {
        @include mixins.centerFlex(false);
    }

    &__image {
        width: 2.2em;
        height: 2.2em;
        border-radius: 50px;
        margin-right: 1.3em;
    }

    &__name {
        color: colors.$White;
        font-weight: 700;
        margin-bottom: .3em;
    }

    &__badge {
        color: colors.$softPink;
        letter-spacing: 0.015em;
    }

    &__text {
        @include mixins.fontStyle(colors.$White, 500, clamp(0.92rem, 0.874rem + 0.195vw, 1.05rem), 1.25, 0.015em);
        margin-top: 1.8em;

    }
}

@media (min-width: 1440px) {
    .review-card{
        max-width: 23rem;

        &__Colton-Smith {
            justify-self: start;
            align-self: start;
        }

        &__Irene-Roberts{
            align-self: center;
        }

        &__Anne-Wallace {
            justify-self: end;
            align-self: end;
        }
    }
}
