@use "@/styles/mixins";
@use "@/styles/colors";

body {
  font-family: "League Spartan", serif;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  @include mixins.background-image('../src/assets/images/bg-pattern-top-mobile.svg', './src/assets/images/bg-pattern-bottom-mobile.svg', 0 0, 100% calc(30rem - 40%), 100%, 100%)
}

#root{
  width: 100%;
  height: 100%;
  padding: .5rem;
  @include mixins.center-grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

main {
  @include mixins.center-grid;
  width: 90%;
  max-width: 40rem;
  padding: 4.5rem 0;
  gap: 2rem;
}

.ratings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1em;
}

.reviews {
  @include mixins.center-grid;
  width: 100%;
  gap: 1em;
}

footer {
  font-size: .7rem;
  color: colors.$veryDarkMagenta;
  padding-bottom: 1rem;
  a { 
      text-align: center;
      color: colors.$softPink
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ratings {
    margin: 1rem 0 3rem;
  }
}

@media (min-width: 1024px) {

  body {
    @include mixins.background-image('../src/assets/images/bg-pattern-top-desktop.svg', './src/assets/images/bg-pattern-bottom-desktop.svg', -2rem 0, calc(100px + 100%) 100%, 38%, 85%)
  }

  main {
    padding: 0 clamp(0rem, -9.846rem + 15.385vw, 4rem);
    max-width: 81rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "header header ratings ratings"
      "review review review review";
  }

  .header-section {
    grid-area: header;
  }

  .ratings {
    grid-area: ratings;
    display: grid;
  }

  .reviews {
    grid-area: review;
    justify-content:space-between;
    
    min-height: 18rem;
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}