@use "@/styles/mixins";

body {
  font-family: "League Spartan", serif;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root{
  width: 100%;
  height: 100%;
  padding: 1rem;
  @include mixins.center-grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

main {
  @include mixins.center-grid;
  width: 90%;
  margin: 4rem 0;
  gap: 2rem;
}

.ratings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .7em;
}

.reviews {
  @include mixins.center-grid;
  width: 100%;
  gap: 1em;
}

@media (min-width: 1024px) {

  main {
    padding: 0 4rem;
    max-width: 81rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "header header ratings ratings"
      "review review review review"
      // "footer footer footer";
  }

  .header-section {
    grid-area: header;
  }

  .ratings {
    grid-area: ratings;

    width: 90%;
    display: grid;
  }

  .reviews {
    grid-area: review;
    justify-content:space-between;

    min-height: 14.5rem;
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}